.hotels-list{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,350fr));
    grid-gap: 1rem;
    margin-top:2em;
    padding:10px 40px 40px 40px;
  

}
.hotels-filter-sort{
    background-color: #fff;
    
}   
.hotels__price-filter{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.hotels__price-filter span{
    display: flex;
}
.hotels__price-filter p,
.sort-section p{
    text-align: center;
    font-weight: bold;
}

.hotels-filter-sort{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px 40px;
    grid-gap:1.5em;


}

.sort-section{
    text-align: center;
}

.hotels__price-filter-slider{
    max-width: 500px;
}